<div id="checkCodeModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
    	<form>
    		<h3 class="btn-theme-inverse">Thông báo</h3>
    		<p>
  		    Đã có sẵn mặt hàng này trong kho. Bạn muốn thêm số lượng phải không?
  			</p>
        <div class="bottom-button">
          <button type="button" class="btn btn-theme" data-dismiss="modal" ng-click="editFurniture()" >Đồng ý</button>
          <button type="button" class="btn btn-theme" data-dismiss="modal">Quay lại</button>
        </div>
     	</form>
  </div>
</div>