    <h1><span class="label btn-theme-inverse">Hàng đang về</span></h1>
    <table class="table-bordered table-container">
        <tr>
            <th>
                Mã hàng
            </th>
            <th>
                Tên hàng
            </th>
            <th class="tr-center">
                Loại
            </th>
            <th>
                Số lượng
            </th>
            <th>
                Giá đơn vị
            </th>
            <th>
                Tổng
            </th>

            <th>
                Ngày đặt gần nhất
            </th>
            <th>
                Nguồn
            </th>
        </tr>
        <tr ng-repeat="furniture in furnitureList"
           >
            <td class="tr-center">
                <i class="fa fa-pencil-square-o fa-fw"  data-toggle="modal" data-target="#editModal" ng-click="setFurnitureData($index,'preOrder')" aria-hidden="true"></i>
                {{furniture.code}}
            </td>
            <td  ng-click="callEditByIndexForm($index,'preOrder')">
                {{furniture.name}}
            </td>
            <td class="tr-center">
                {{furniture.type}}
            </td><td>
                {{furniture.quantity}}
            </td>
            <td>
                {{furniture.price}}
            </td>
            <td>
                {{furniture.price * furniture.quantity}}
            </td> <td>
                {{furniture.lastOrderDay |  date:"dd/MM/yy" }}
            </td>
             <td>
                {{furniture.source?furniture.source:'Trống'}}
            </td>
            <td class="text-function"
               data-toggle="modal" data-target="#removeModal" ng-click="setFurnitureData($index,'preOrder')">Xóa lô hàng
            </td>
             <td class="text-function"
               data-toggle="modal" data-target="#setQuantityModal" ng-click="setFurnitureData($index,'preOrder')">Hàng về/Nhập kho
            </td>
            </tr>
    </table>
