<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
    <head>
        <meta name="viewport" content="width=device-width, user-scalable=no"/>
        <!-- Use the 'title' property to render a page title  -->
        <title>
            <%= title %>
            </title>
        </head>
        <body>
            <!--ng-app="khoNoiThat"-->
            <section ng-view ng-app="khoNoiThat">
            </section>
            <script type="text/javascript" src="/lib/jquery/dist/jquery.js"></script>
            <script type="text/javascript" src="/lib/jquery/jquery-ui.js"></script>
            <script type="text/javascript" src="/lib/bootstrap/bootstrap.min.js"></script>
            <script type="text/javascript" src="/lib/angular/angular.js"></script>
            <script type="text/javascript" src="/lib/angular-route/angular-route.js"></script>
            <script type="text/javascript" src="/lib/angular-datepicker/dist/angular-datepicker.min.js"></script>
            <script type="text/javascript" src="/lib/moment/moment.js"></script>

            <script type="text/javascript" src="/lib/angular-resource/angular-resource.js"></script>
            <script type="text/javascript" src="/moduleDeclare.js"></script>

             <script type="text/javascript" src="/services/user.js"></script>
             <script type="text/javascript" src="/controllers/user.js"></script>
            <script type="text/javascript" src="/services/furniture.js"></script>
             <script type="text/javascript" src="/controllers/furniture.js"></script>
            <script type="text/javascript" src="/services/profitRecord.js"></script>   
             <script type="text/javascript" src="/controllers/profitRecord.js"></script>
             <script type="text/javascript" src="/config/urlRouting.js"></script>
            <script type="text/javascript" src="/applicationConfig.js"></script>
            <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
            <link rel="stylesheet" type="text/css" href="/css/khoNoiThat.css"/>
            <link rel="stylesheet" type="text/css" href="/lib/angular-datepicker/dist/angular-datepicker.css"/>

             <link rel="stylesheet" type="text/css" href="/css/font-awesome/css/font-awesome.min.css"/>
        </body>
    </html>
